<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
   <title>Movie Form</title>
</head>
<body>
   <h2>Movie Review Form</h2>
   <form action="#" th:action="@{/movies/new}" th:object="${movie}" method="post">
   Movie Title: <input type="text" th:field="*{title}" />
      <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}"> </span> <br />
   Rating: <input type="text" th:field="*{rating}" />
      <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"> </span> <br />
   Reviewer: <input type="text" th:field="*{reviewer}" />
      <span th:if="${#fields.hasErrors('reviewer')}" th:errors="*{reviewer}"> </span> <br />
   <input type="submit" value="Submit" />
   </form>
</body>
</html>